employee{
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid black;
}
name{
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: large;
}
address{
    display: flex;
    align-content: center;
    justify-content: center;
    color: pink;
}